<!DOCTYPE html>
<html>
    <head>
        <title>&#9992; N71124 - 1969 Cessna 182</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/css/uikit.min.css" />
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/js/uikit.min.js"></script>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/n71124.css" />
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="/static/dateformat.js"></script>
    </head>
    <body>
        <nav class="uk-navbar uk-margin-bottom">
            <ul class="uk-navbar-nav">
                <a href="/" class="uk-navbar-brand uk-text-large uk-text-bold">&#9992; N71124</a>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li><a href="/schedule">Manage</a></li>
                </ul>
            </div>
        </nav>
        
        {% block content %}
        
        <script type="text/javascript">
        ambient_dates = {{ ambient_dates|safe }};
        ambient_data = {{ ambient_data|safe }};
        cowling_dates = {{ cowling_dates|safe }};
        cowling_data = {{ cowling_data|safe }};
        </script>
        <script src="/static/chart.js"></script>

        <div class="container">
          <div class="uk-grid">
            <div class="uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box uk-panel-space uk-text-center no-margin">
                    
                    <div class="floater">
                        {% if status %}
                        <button onclick="window.location='/schedule';" class="uk-button uk-button-large uk-button-success uk-align-center" type="button">Heater ON</button>
                        {% else %}
                        <button onclick="window.location='/schedule';" class="uk-button uk-button-large uk-button-danger uk-align-center" type="button">Heater OFF</button>
                        {% endif %}
                        <p>Cowl: {{ cowling }}&deg;F</p>
                        <p>Ambient: {{ ambient }}&deg;F</p>
                        <p>{{ heater_watts }} W,  {{ heater_amps }} A</p>
                    </div>
                    <div id="chart"></div>
                </div>
            </div>
          </div>
        </div>
        {% endblock %}
    </body>
</html>