{% extends "base.html" %}
{% block content %}

<script type="text/javascript">

$(document).ready(function() { 
    $('#id_departure').change(function() {
        d = new Date($(this).val());

        on = new Date(d.getTime() - 8*60*60*1000);
        off =  new Date(d.getTime() + 2*60*60*1000);
        $('#id_heater_on').val(dateFormat(on, "isoDateTime"));
        $('#id_heater_off').val(dateFormat(off, "isoDateTime"));
    });

});
</script>


        <div class="container">
          <div class="uk-grid">
            <div class="uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box uk-panel-space uk-text-center">
<h2>Schedule Heater</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Schedule Heater" />
</form>

                </div>
            </div>

            <div class="uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box uk-panel-space uk-text-center">
<h2>Heater Calendar</h2>

{% for s in schedule %}
<p>{{ s }} ( delete )</p>
{% endfor %}

                </div>
            </div>
          </div>
        </div>


{% endblock %}